span.notallowed {
    font-size: larger;
    color: red;
}
table.scoreboard span {
    border-bottom: 1px dotted #E25912;
}
table.scoreboard tr.odd {
    background-color: #353535;
}
table.scoreboard tr.even {
    background-color: #262626;
}
table.scoreboard tr.cutoff {
    border-bottom: 3px double #E25912;
}
table.scoreboard td, table.scoreboard th {
    text-align: center;
    padding-right: 5px;
}
table.scoreboard .playername {
    text-align: left;
}
table.bracket {
    border: 1px solid Black;
    color: #CCCCCC;
    background-color: #353535;
    text-align: center;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
table.bracket td.brackettext {
    border: 1px solid Black;
    background-color: #D45E28;
    color: Black;
}
table.bracket td.odd {
    background-color: #262626;
    vertical-align: middle;
}
table.bracket td.even {
    background-color: #353535;
    vertical-align: middle;
}
.series {
    position: relative;
    background: #262626;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #4F4F4F;
    min-height: 200px;
    margin-bottom: 20px;
}
.series .series-name {
    position: absolute;
    width: 400px;
    font-size: 22px;
    font-weight: bold;
    right: 0px;
}
.series .series-logo {
    position: absolute;
    width: 280px;
    height: 200px;
    left: 20px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px
}
.series .series-organizers {
    position: absolute;
    width: 400px;
    right: 0px;
    top: 50px;
}
.series .series-logo img {
    max-width: 280px;
    max-height: 200px;
}
.series-organizers ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.series-organizers ul li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 20px;
    margin-left: 0;
}
.series .series-info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    text-align: center;
}
.series .series-info table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
.series .series-info table th {
    text-align: right;
    vertical-align: baseline;
    padding-right: 5px;
}
#gatherling_main .series .series-info table td {
    vertical-align: baseline;
}
a.create_deck_link {
    font-size: 13px;
    color: #D28950;
}
/* autocard */
.cardHoverImageWrapper {
    position: relative;
    display: inline-block;
}
.linkCardHoverImage {
    position: absolute;
    left: 150px;
    top: -155px;
    z-index: 20;
}
.cardHoverImageWrapper .linkCardHoverImage {
    display: none;
}
.cardHoverImageWrapper a:hover .linkCardHoverImage {
    display: block;
}
.crop {
    float:left;
    overflow:hidden;
   /* this is important */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #D45E28 0 2px 30px;
    -moz-box-shadow: #D45E28 0 2px 30px;
    box-shadow: #D45E28 0 2px 30px;
}
/* input values to crop the image: top, right, bottom, left */
.crop img {
    margin:-2px -6px -6px -6px;
}
#birthday {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    opacity:0.75;
    filter:alpha(opacity=75);
   /* For IE8 and earlier */
}
.inputbox {
    border: 1px solid Black;
    color: #CCCCCC;
    background-color: #353535;
    padding: 3px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.inputbox:hover {
    border-color: #D45E28;
}
.inputbox:focus {
    border: 1px solid rgb(234, 234, 234);
    border-color: #D45E28;
}
.inputbox:disabled {
    border: 1px solid Black;
    background-color: #161616;
    color: black;
    padding: 3px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.inputbutton {
    border: 1px solid Black;
    color: #CCCCCC;
    background-color: #262626;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: #000 0 2px 5px;
    -moz-box-shadow: #000 0 2px 5px;
    box-shadow: #000 0 2px 5px;
}
.inputbutton:not(.discordlogin):hover {
    border-color: #D45E28;
    background-color: #353535;
    color: #D45E28;
    -webkit-box-shadow: #D45E28 0 2px 5px;
    -moz-box-shadow: #D45E28 0 2px 5px;
    box-shadow: #D45E28 0 2px 5px;
}
.inputbutton:focus {
    border: 1px solid #000;
    background-color: #161616;
    color: #000;
    -webkit-box-shadow: #000 0 0px 0px;
    -moz-box-shadow: #000 0 0px 0px;
    box-shadow: #000 0 0px 0px;
}
.inputbutton:disabled {
    border: 1px solid #000;
    background-color: #161616;
    color: #000;
    -webkit-box-shadow: #000 0 0px 0px;
    -moz-box-shadow: #000 0 0px 0px;
    box-shadow: #000 0 0px 0px;
}
/* Some formating stuff for the search form and results table */
#table-decksearch {
    color: #CCCCCC;
    background-color: #353535;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
    color: #333;
}
#table-decksearch td, #table-decksearch th {
    border-top-color: #454545;
    border-bottom: 1px solid #454545;
    color: #CCCCCC;
}
#table-decksearch th {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-weight: normal;
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}
#table-decksearch decksearch {
    font-size: 12px;
    padding: 4px 7px 2px;
    vertical-align: top;
}
.ds_inputbox {
    margin: auto;
    width: 750px;
    border: 1px solid Black;
    color: #CCCCCC;
    background-color: #353535;
    padding: 3px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.ds_left {
    width: 605px;
    background-color: #353535;
    float: left;
    padding: 3px;
}
.ds_right {
    width: 125px;
    background-color: #353535;
    padding: 3px;
    float: left;
}
.ds_label {
    margin: 8px;
    display: block;
    font-size: 13px;
    padding: 5px;
}
.ds_select {
    margin-top: 15px;
    display: block;
    font-size: 13px;
}
.ds_input {
    border: 1px solid Black;
    color: #CCCCCC;
    background-color: #353535;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    width: 450px;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    magin-bottom: 10px;
    float:right;
}
.ds_input:hover {
    border-color: #D45E28;
}
.ds_input:focus {
    border: 1px solid rgb(234, 234, 234);
    border-color: #D45E28;
}
.ds_input:disabled {
    border: 1px solid Black;
    background-color: #161616;
    color: black;
    padding: 3px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.ds_submit {
    border-radius: 5px;
    color: #CCCCCC;
    background-color: #262626;
    margin: auto;
    margin-top: 13px;
    font-size: 13px;
    width: 110px;
    text-align: center;
    display: block;
    clear: both;
    padding: 6px 28px;
    border: 1px solid Black;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: #000 0 2px 5px;
    -moz-box-shadow: #000 0 2px 5px;
    box-shadow: #000 0 2px 5px;
}
.ds_submit:hover {
    border-color: #D45E28;
    background-color: #353535;
    color: #D45E28;
    -webkit-box-shadow: #D45E28 0 2px 5px;
    -moz-box-shadow: #D45E28 0 2px 5px;
    box-shadow: #D45E28 0 2px 5px;
}
.ds_submit:focus {
    border: 1px solid #000;
    background-color: #161616;
    color: #000;
    -webkit-box-shadow: #000 0 0px 0px;
    -moz-box-shadow: #000 0 0px 0px;
    box-shadow: #000 0 0px 0px;
}
.ds_submit:disabled {
    border: 1px solid #000;
    background-color: #161616;
    color: #000;
    -webkit-box-shadow: #000 0 0px 0px;
    -moz-box-shadow: #000 0 0px 0px;
    box-shadow: #000 0 0px 0px;
}
.ds_results {
    color: #fff;
    margin: auto;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    display: block;
    clear: both;
    border: none;
}
.ds_color {
    -webkit-appearence: none;
    -moz-appearannce: none;
    font-size: 15px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 5px;
    margin-left: 85px;
    margin-top: 5px;
}
.ds_checkbox {
    padding:10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #262626;
}
.ds_checkbox:hover {
    border-color: #D45E28;
}
.ds_mana_image {
    vertical-align: middle;
    padding-bottom: 4px;
    padding-left: 3px;
}
#ds_select {
    margin: 5px;
    margin-top: 0px;
    width: 140px;
    height: 27px;
    outline: solid transparent;
    border: 1px solid Black;
    color: #CCCCCC;
    background-color: #353535;
    padding: 3px;
    border-radius: 5px;
   /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
    -moz-border-radius: 5px;
   /* border radius is specified different ways for different legacy browsers. */
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
#ds_select:hover {
    border-color: #D45E28;
}
.group:before, .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.group:after {
    clear:both;
}
.group {
    zoom: 1;
}
.banner_alert {
    background: black;
    border: red;
    border-style: dotted;
}

.discordlogin {
    background: #7289DA;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
}

/* .discordlogin::before {
    font-family: "Font Awesome 5 Free";
    content: "\uf392";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
} */

.discordlogin::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/* Style tab links */
.tablink {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: #000 0 2px 10px;
    -moz-box-shadow: #000 0 2px 10px;
    box-shadow: #000 0 2px 10px;
    background: #262626;
    border: 1px solid black;
    /*margin-top: 1px;*/
    /*margin-bottom: 1px;*/
  background-color: #262626;
  color: #D88F6D;
  float: left;
  /*border: none;*/
  /*outline: none;*/
  /*cursor: pointer;*/
  padding: 8px 8px;
  margin: 1px 0px;
  /*font-size: 15px;*/
  width: 25%;
}

.tablink:hover {
    color: #D45E28;
   /*text color of selected and active item*/
    background: #353535;
    border: 1px solid #D45E28;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px 20px;
  height: 100%;
}
