IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

php_value date.timezone "America/Detroit"

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName gatherling.com
