includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - phpstan-baseline.neon
parameters:
    level: 9
    paths:
        - .
    excludePaths:
        - node_modules
        - vendor
