parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$standings might not be defined\\.$#"
			count: 1
			path: gatherling/Models/Event.php

		-
			message: "#^Call to function is_null\\(\\) with string will always evaluate to false\\.$#"
			count: 2
			path: gatherling/Models/Matchup.php

		-
			message: "#^Comparison operation \"\\=\\=\" between \\(array\\|float\\|int\\) and 0 results in an error\\.$#"
			count: 2
			path: gatherling/Models/Matchup.php

		-
			message: "#^Call to function assert\\(\\) with false will always evaluate to false\\.$#"
			count: 3
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Elseif condition is always false\\.$#"
			count: 3
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Elseif condition is always true\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^If condition is always false\\.$#"
			count: 3
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:__construct\\(\\) has parameter \\$edges with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:__construct\\(\\) has parameter \\$maxcardinality with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:addBlossom\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:addBlossom\\(\\) has parameter \\$base with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:addBlossom\\(\\) has parameter \\$k with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:arr_repr\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:arr_repr\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:assignLabel\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:assignLabel\\(\\) has parameter \\$p with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:assignLabel\\(\\) has parameter \\$t with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:assignLabel\\(\\) has parameter \\$w with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:augmentBlossom\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:augmentBlossom\\(\\) has parameter \\$b with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:augmentBlossom\\(\\) has parameter \\$v with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:augmentMatching\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:augmentMatching\\(\\) has parameter \\$k with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:blossomLeaves\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:blossomLeaves\\(\\) has parameter \\$b with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:checkDelta2\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:checkDelta3\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:expandBlossom\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:expandBlossom\\(\\) has parameter \\$b with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:expandBlossom\\(\\) has parameter \\$endstage with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:floorintdiv\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:floorintdiv\\(\\) has parameter \\$x with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:floorintdiv\\(\\) has parameter \\$y with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:last_elem\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:last_elem\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:main\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:print_arr\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:print_arr\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:safe_access\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:safe_access\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:safe_access\\(\\) has parameter \\$requested_index with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:safe_index\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:safe_index\\(\\) has parameter \\$arr with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:safe_index\\(\\) has parameter \\$requested_index with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:scanBlossom\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:scanBlossom\\(\\) has parameter \\$v with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:scanBlossom\\(\\) has parameter \\$w with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:slack\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:slack\\(\\) has parameter \\$k_edge with no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:verifyOptimum\\(\\) has no return type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 2
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Parameter \\#1 \\$assertion of function assert expects bool\\|string, int given\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$allowedge has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$bestedge has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$bestedgeto has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$blossombase has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$blossombestedges has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$blossomchilds has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$blossomendps has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$blossomparent has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$dualvar has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$edges has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$endpoint has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$inblossom has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$label has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$labelend has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$mate has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$maxcardinality has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$nedge has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$neighbend has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$nvertex has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$queue has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Property Gatherling\\\\Models\\\\MaxWeightMatching\\:\\:\\$unusedblossoms has no type specified\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 2
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Variable \\$kslack might not be defined\\.$#"
			count: 2
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Variable \\$v might not be defined\\.$#"
			count: 6
			path: gatherling/Models/MaxWeightMatching.php

		-
			message: "#^Method Gatherling\\\\Models\\\\Pagination\\:\\:render\\(\\) with return type void returns string but should not return anything\\.$#"
			count: 2
			path: gatherling/Models/Pagination.php

		-
			message: "#^Parameter \\#1 \\$string of function sha1 expects string, int\\<0, max\\> given\\.$#"
			count: 1
			path: gatherling/admin/infobot.php

		-
			message: "#^Variable \\$CONFIG might not be defined\\.$#"
			count: 4
			path: gatherling/admin/infobot.php

		-
			message: "#^Parameter \\#2 \\$client of function repr_json_player expects int\\|null, string given\\.$#"
			count: 5
			path: gatherling/api.php

		-
			message: "#^Function auth\\(\\) should return string but returns bool\\.$#"
			count: 1
			path: gatherling/api_lib.php

		-
			message: "#^Variable \\$pAWins might not be defined\\.$#"
			count: 1
			path: gatherling/api_lib.php

		-
			message: "#^Variable \\$pBWins might not be defined\\.$#"
			count: 1
			path: gatherling/api_lib.php

		-
			message: "#^Variable \\$player might not be defined\\.$#"
			count: 1
			path: gatherling/api_lib.php

		-
			message: "#^Function send_to_discord invoked with 1 parameter, 0 required\\.$#"
			count: 3
			path: gatherling/auth.php

		-
			message: "#^Offset 'archetype' on array\\{contents\\: '', sideboard\\: '', name\\: ''\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: gatherling/deck.php

		-
			message: "#^Offset 'desc' on array\\{contents\\: '', sideboard\\: '', name\\: '', archetype\\: ''\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: gatherling/deck.php

		-
			message: "#^Offset 'name' on array\\{contents\\: '', sideboard\\: ''\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: gatherling/deck.php

		-
			message: "#^Variable \\$pAWins might not be defined\\.$#"
			count: 1
			path: gatherling/event.php

		-
			message: "#^Variable \\$pBWins might not be defined\\.$#"
			count: 1
			path: gatherling/event.php

		-
			message: "#^Comparison operation \"\\>\" between \\(array\\|float\\|int\\) and 0 results in an error\\.$#"
			count: 2
			path: gatherling/player.php

		-
			message: "#^Variable \\$CONFIG might not be defined\\.$#"
			count: 2
			path: gatherling/player.php

		-
			message: "#^Variable \\$match might not be defined\\.$#"
			count: 1
			path: gatherling/report.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: gatherling/seriescp.php

		-
			message: "#^PHPDoc tag @throws with type Gatherling\\\\Tests\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: tests/EventsTest.php

		-
			message: "#^PHPDoc tag @throws with type Gatherling\\\\Tests\\\\Exception\\|PHPUnit\\\\Framework\\\\ExpectationFailedException\\|SebastianBergmann\\\\RecursionContext\\\\InvalidArgumentException is not subtype of Throwable$#"
			count: 2
			path: tests/EventsTest.php

		-
			message: "#^PHPDoc tag @throws with type PHPUnit\\\\Framework\\\\ExpectationFailedException\\|SebastianBergmann\\\\RecursionContext\\\\InvalidArgumentException is not subtype of Throwable$#"
			count: 3
			path: tests/EventsTest.php
