includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon
parameters:
    level: 9
    paths:
        - .
    excludePaths:
        - node_modules
        - vendor
    strictRules:
        allRules: false
        uselessCast: true
        disallowedBacktick: true
        disallowedImplicitArrayCreation: true
