You are not permitted to make that change. Please contact the
event host to modify this event. If you <b>are</b> the event host,
or feel that you should have privilege to modify this event, you
should contact the admin via <a href="https://discord.gg/2VJ8Fa6">the Discord server</a>.<br><br>
