<a href="event.php?name={{name}}&view=settings">Event Settings</a>
 | <a href="event.php?name={{name}}&view=reg">Registration</a>
 | <a href="event.php?name={{name}}&view=match">Match Listing</a>
 | <a href="event.php?name={{name}}&view=standings">Standings</a>
 | <a href="event.php?name={{name}}&view=medal">Medals</a>
 | <a href="event.php?name={{name}}&view=points_adj">Season Points Adj.</a>
 | <a href="event.php?name={{name}}&view=reports">Reports</a>
