<select class="inputbox" name="{{name}}">
    {{#default}}
        <option value="">{{default}}</option>
    {{/default}}
    {{#options}}
        <option value="{{value}}" {{#isSelected}}selected{{/isSelected}}>{{text}}</option>
    {{/options}}
</select>
