<select class="inputbox" name="{{form_name}}">
    <option value="">{{title}}</option>
    {{#formats}}
        <option value="{{name}}" {{#isSelected}}selected{{/isSelected}}>{{name}}</option>
    {{/formats}}
</select>
