{{#hasTrophy}}
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" class="c">
            <img alt="Trophy" src="displayTrophy.php?event={{eventName}}" />
        </td>
    </tr>
{{/hasTrophy}}
<tr>
    <th>Trophy Image</th>
    <td>
        <input id="trophy" class="inputbox" type="file" name="trophy">
        <input class="inputbutton" type="submit" name="mode" value="Upload Trophy">
    </td>
</tr>
