<?php

# CONFIGURATION FILE FOR GATHERLING
# CHANGE THE FOLLOWING VARIABLES
#
# === Database ===
$CONFIG['db_hostname'] = 'localhost';
$CONFIG['db_username'] = 'gatherli_public';
$CONFIG['db_password'] = 'Lk33;=a4IZEh';
$CONFIG['db_database'] = 'gatherli_gatherling';

# === Website ===

# The base url where gatherling is installed.  This should be an absolute URL, with HTTPS.
// $CONFIG['base_url'] = "https://gatherling.com";
$CONFIG['base_url'] = "http://localhost/gatherling/";

# The name of your site.  This is used in a lot of places.
$CONFIG['site_name'] = "Gatherling.com";

# The Style of the site.
$CONFIG['style'] = "Chandra";

# A description for the ical calendar which is accessible at calendar.php
$CONFIG['calendar_description'] = "a description for the events calendar";

# Google Analytics account ID.
$CONFIG['analytics_account'] = 'UA-37926034-1';

# How long to store session cookies in seconds
$CONFIG['cookie_lifetime'] = 5184000;

# === Infobot PARAMETERS ==
# If you have set it up with infobot or PDBot to contact the site, you can change the passkey here.
# If you haven't set it up, leave this blank.
$CONFIG['infobot_passkey'] = "";

# Infobot/PDBot need to know which gatherling server to verify a user on.
# Put your unique key here
$CONFIG['infobot_prefix'] = "";

# THAT'S ALL FOLKS!
