:root {
    /* Colors In Use */

    --black: oklch(0% 0 0deg);
    --night: oklch(20.02% 0 0deg);
    --eerie-black: oklch(26.86% 0 0deg);
    --jet: oklch(32.9% 0 0deg);
    --onyx: oklch(39.04% 0 0deg);
    --silver: oklch(84.52% 0 0deg);
    --dim-gray: oklch(51.03% 0 0deg);
    --persian-orange: oklch(71.61% 0.1009 45.65deg);
    --ut-orange: oklch(75.98% 0.1621 52.9474deg);
    --flame: oklch(62.15% 0.1627 42.49deg);
    --red: oklch(62.8% 0.2577 29.2339deg);
    --yellow: oklch(96.8% 0.211 109.7692deg);
    --green: oklch(51.98% 0.1768 142.5deg);

    /* Semantic Color Names */

    --main-text-color: var(--silver);
    --link-text-color: var(--persian-orange);
    --link-noticeable-text-color: var(--ut-orange);
    --link-emphasis-text-color: var(--flame);
    --emphasis-text-color: var(--flame);
    --deemphasized-text-color: var(--dim-gray);
    --error-text-color: var(--red);
    --notice-text-color: var(--red);
    --self-text-color: var(--green);
    --verified-text-color: var(--green);
    --pending-text-color: var(--yellow);
    --base-background-color: var(--night);
    --main-background-color: var(--eerie-black);
    --highlight-background-color: var(--jet);
    --card-background-color: var(--jet);
    --hover-background-color: var(--jet);
    --top-background-color: var(--onyx);
    --title-border-color: var(--flame);
    --link-noticeable-border-color: var(--ut-orange);
    --link-border-color: var(--flame);
    --divider-border-color: var(--onyx);
    --control-border-color: var(--black);
    --control-background-color: var(--eerie-black);
    --disabled-control-color: var(--black);
    --disabled-control-background-color: var(--night);
    --disabled-control-border-color: var(--night);
    --focused-control-color: var(--black);
    --focused-control-background-color: var(--night);
    --discord-brand-color: #fff;
    --discord-brand-background-color: #7289da;
    --current-pagination-background-color: var(--flame);
    --current-pagination-border-color: var(--black);
    --current-pagination-text-color: var(--black);

    /* Spacing */

    --spacing-1: calc(1rem / 16);
    --spacing-5: calc(5rem / 16);
    --spacing-10: calc(10rem / 16);
    --spacing-20: calc(20rem / 16);
    --spacing-40: calc(40rem / 16);
    --spacing-80: calc(80rem / 16);
    --spacing-160: calc(160rem / 16);
    --spacing-320: calc(320rem / 16);

    /* Semantic Spacing */

    --card-grid-gap: var(--spacing-20);
    --card-internal-gap: var(--spacing-10);
    --control-border-radius: var(--spacing-5);
    --grid-border-radius: var(--spacing-5);
    --card-border-radius: var(--spacing-10);
    --line: var(--spacing-1);
    --box-padding: var(--spacing-5) var(--spacing-10);
    --form-element-padding: var(--spacing-5);

    /* Typography */

    /* Set font sizes in rem but use px numbers for ease of use */
    --font-size-12: calc(12rem / 16);
    --font-size-14: calc(14rem / 16);
    --font-size-16: calc(16rem / 16);
    --font-size-18: calc(18rem / 16);
    --font-size-20: calc(20rem / 16);
    --font-size-24: calc(24rem / 16);
}

/* Reset */

* {
    box-sizing: border-box;
}

/* Text */

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
    margin: 0;
}

table,
tr,
th,
td,
ul {
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font:
        var(--font-size-14) / 1.45 "Helvetica Neue",
        Arial,
        "Liberation Sans",
        FreeSans,
        sans-serif;
    vertical-align: baseline;
    margin: 0;
    border: 0;
    outline: 0;
    background: var(--base-background-color);
    padding: var(--spacing-20) 0 0;
    color: var(--main-text-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
}

h1 {
    font-size: var(--font-size-14);
}

h2,
.box h2 {
    font-size: var(--font-size-24);
    margin-bottom: var(--spacing-20);
}

h3 {
    font-size: var(--font-size-20);
}

h4 {
    font-size: var(--font-size-16);
}

h5 {
    font-size: var(--font-size-14);
}

h6 {
    font-size: var(--font-size-12);
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin-left: var(--spacing-40);
}

td {
    vertical-align: baseline;
}

a {
    border-bottom: var(--line) dotted var(--link-text-color);
    text-decoration: none;
    font-weight: bold;
    padding: var(--line);
}

hr {
    border: 0 var(--main-text-color) solid;
    border-top-width: var(--line);
    clear: both;
    height: 0;
}

/* Remnants of the hacked upon 960 grid system, with everything we don't use ripped out.
See also body. */

.grid_2,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_10,
.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: var(--spacing-10);
    margin-right: var(--spacing-10);
    width: calc(
        100% - var(--spacing-10) - var(--spacing-10)
    ); /* 100% width minus left and right margins */
}

.grid_6 {
    max-width: 460px;
}

.grid_12 {
    max-width: 940px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

.grid_2 {
    max-width: 140px;
}

.grid_4 {
    max-width: 298px;
}

.grid_5 {
    max-width: 373px;
}

.grid_7 {
    max-width: 540px;
}

.grid_8 {
    max-width: 620px;
}

.grid_10 {
    max-width: 940px;
}

.prefix_1 {
    padding-left: 0;
}

.suffix_1 {
    padding-right: 0;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* End of 960 grid system */

/* To enable move to mobile view, allow tables to horizontally scroll */
table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.c {
    text-align: center;
}

.n,
.r {
    text-align: right;
}

.top {
    vertical-align: top;
}

.warning {
    color: var(--error-text-color);
}

.disabled {
    color: var(--deemphasized-text-color);
}

#gatherling_main td.box.round-header {
    background-color: var(--highlight-background-color);
    color: var(--main-text-color);
    padding: var(--box-padding);
}

/*
Work around Mustache's trailing comma problem.
See: https://bluebones.net/2024/09/avoid-trailing-comma-when-emitting-lists-in-mustache-templates/
 */
.inline-list,
.inline-list li {
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline;
}

.inline-list.comma li:not(:last-child)::after {
    content: ", ";
}

.inline-list.pipe li:not(:last-child)::after {
    content: " | ";
}

.highlight td {
    color: var(--highlight-color);
}

span.notallowed {
    font-size: larger;
    color: var(--error-text-color);
}

table.scoreboard span {
    border-bottom: var(--line) dotted var(--notice-text-color);
}

table.scoreboard tr.odd {
    background-color: var(--highlight-background-color);
}

table.scoreboard tr.even {
    background-color: var(--main-background-color);
}

table.scoreboard tr.cutoff {
    border-bottom: var(--spacing-5) double var(--notice-text-color);
}

table.scoreboard td,
table.scoreboard th {
    text-align: center;
    padding-right: var(--spacing-5);
}

table.scoreboard .playername {
    text-align: left;
}

.series {
    background-color: var(--main-background-color);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: var(--line) solid var(--divider-border-color);
    min-height: 200px;
    margin-bottom: var(--spacing-20);
    padding-bottom: var(--spacing-20);
}

.series .series-content {
    display: flex;
}

.series .series-name {
    width: 400px;
    font-size: var(--font-size-24);
    font-weight: bold;
    right: 0;
}

.series .series-logo {
    width: 360px;
    margin-right: var(--spacing-40);
}

.series-logo-img {
    max-width: 280px;
    max-height: 200px;
}

.series .series-info table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.series .series-info table th {
    text-align: right;
    vertical-align: baseline;
    padding-right: var(--spacing-5);
}

#gatherling_main .series .series-info table td {
    vertical-align: baseline;
}

a.create-deck-link,
a.create-deck-link:hover,
a.create-deck-link:visited {
    font-size: var(--font-size-14);
    color: var(--error-text-color);
}

.cardHoverImageWrapper .linkCardHoverImage {
    display: none;
    z-index: 20;
}

.crop {
    float: left;
    overflow: hidden;
    border-radius: var(--spacing-10);
    box-shadow: 0 var(--spacing-5) var(--spacing-40) var(--link-border-color);
}

/* input values to crop the image: top, right, bottom, left */
.crop img {
    margin: calc(-1 * var(--spacing-1)) calc(-1 * var(--spacing-5))
        calc(-1 * var(--spacing-5));
}

/* Forms */

.inputbox {
    border: var(--line) solid var(--control-border-color);
    color: var(--main-text-color);
    background-color: var(--highlight-background-color);
    padding: var(--form-element-padding);
    border-radius: var(--control-border-radius);
}

.inputbox:hover {
    border-color: var(--link-emphasis-text-color);
}

.inputbox:focus {
    border: var(--line) solid rgb(234 234 234);
    border-color: var(--link-border-color);
}

.inputbox:disabled {
    border: var(--line) solid var(--control-border-color);
    background-color: var(--disabled-control-background-color);
    color: var(--disabled-control-color);
    padding: var(--form-element-padding);
    border-radius: var(--control-border-radius);
}

/* Buttons */

.inputbutton {
    border: var(--line) solid var(--control-border-color);
    color: var(--main-text-color);
    background-color: var(--control-background-color);
    margin: 5px;
    box-shadow: 0 2px 5px var(--control-border-color);
    display: inline-block;
    padding: var(--spacing-10) var(--spacing-20);
    border-radius: var(--control-border-radius);
    font-size: var(--font-size-14);
    cursor: pointer;
    transition: all 0.2s ease;
}

.inputbutton:not(.discordlogin):hover {
    border-color: var(--link-border-color);
    background-color: var(--highlight-background-color);
    color: var(--link-emphasis-text-color);
    box-shadow: 0 2px 5px var(--link-border-color);
}

.inputbutton:focus {
    border: var(--line) solid var(--control-border-color);
    background-color: var(--focused-control-background-color);
    color: var(--focused-control-color);
    box-shadow: 0 0 0 var(--control-border-color);
}

.inputbutton:disabled {
    border: var(--line) solid var(--disabled-control-border-color);
    background-color: var(--disabled-control-background-color);
    color: var(--disabled-control-color);
    box-shadow: 0 0 0 var(--disabled-control-border-color);
}

.btn-primary {
    background: transparent;
    color: var(--link-noticeable-text-color);
    border: var(--line) solid var(--link-noticeable-border-color);
}

.btn-primary:hover {
    background: var(--highlight-background-color);
    border-color: var(--link-border-color);
    color: var(--link-emphasis-text-color);
}

/* Some formating stuff for the search form and results table */
#table-decksearch {
    color: var(--main-text-color);
    background-color: var(--highlight-background-color);
    padding: 3px;
    width: 100%;
    border-radius: 3px;
}

#table-decksearch td,
#table-decksearch th {
    border-top-color: var(--divider-border-color);
    border-bottom: var(--line) solid var(--divider-border-color);
    color: var(--main-text-color);
}

#table-decksearch th {
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}

.ds_inputbox {
    margin: auto;
    max-width: 750px;
    border: var(--line) solid var(--control-border-color);
    color: var(--main-text-color);
    background-color: var(--highlight-background-color);
    padding: 3px;
    border-radius: var(--control-border-radius);
}

.ds_left {
    max-width: 590px;
    background-color: var(--highlight-background-color);
    padding: 3px;
}

.ds_right {
    max-width: 125px;
    background-color: var(--highlight-background-color);
    padding: 3px;
}

.ds_label {
    margin: 8px;
    display: block;
    font-size: 13px;
    padding: 5px;
}

.ds_select {
    margin-top: 15px;
    display: block;
}

.ds_label span {
    display: inline-block;
    min-width: 12ch;
}

.ds_input {
    border: var(--line) solid var(--control-border-color);
    color: var(--main-text-color);
    background-color: var(--highlight-background-color);
    border-radius: var(--control-border-radius);
    max-width: 450px;
    padding: 5px;
    margin: 0;
}

.ds_input:hover {
    border-color: var(--link-border-color);
}

.ds_input:focus {
    border: var(--line) solid rgb(234 234 234);
    border-color: var(--link-border-color);
}

.ds_input:disabled {
    border: var(--line) solid var(--control-border-color);
    background-color: var(--disabled-control-background-color);
    color: var(--disabled-control-color);
    padding: 3px;
    border-radius: var(--control-border-radius);
}

.ds_submit {
    color: var(--main-text-color);
    background-color: var(--control-background-color);
    margin: auto;
    margin-top: 13px;
    font-size: 13px;
    max-width: 110px;
    text-align: center;
    display: block;
    padding: 6px 28px;
    border: var(--line) solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    box-shadow: 0 2px 5px var(--control-border-color);
}

.ds_submit:hover {
    border-color: var(--link-border-color);
    background-color: var(--highlight-background-color);
    color: var(--link-emphasis-text-color);
    box-shadow: 0 2px 5px var(--link-border-color);
}

.ds_submit:focus {
    border: var(--line) solid var(--control-border-color);
    background-color: var(--focused-control-background-color);
    color: var(--focused-control-color);
    box-shadow: 0 0 0 var(--control-border-color);
}

.ds_submit:disabled {
    border: var(--line) solid var(--disabled-control-border-color);
    background-color: var(--disabled-control-background-color);
    color: var(--disabled-control-color);
    box-shadow: 0 0 0 var(--disabled-control-border-color);
}

.ds_results {
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    display: block;
    border: none;
}

.ds_color {
    appearance: none;
    border: none;
    border-radius: 0;
    padding: 5px;
    margin-top: 5px;
}

.ds_checkbox {
    padding: var(--spacing-5);
    margin: 5px;
    border: var(--line) solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    background-color: var(--control-background-color);
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.ds_checkbox:hover {
    border-color: var(--link-border-color);
}

.ds_mana_image {
    vertical-align: middle;
    padding-bottom: 4px;
    padding-left: 3px;
}

#ds_select {
    margin: 5px;
    margin-top: 0;
    max-width: 140px;
    height: 27px;
    outline: solid transparent;
    border: var(--line) solid var(--control-border-color);
    color: var(--main-text-color);
    background-color: var(--highlight-background-color);
    padding: 3px;
    border-radius: var(--control-border-radius);
}

#ds_select:hover {
    border-color: var(--link-border-color);
}

.group::before,
.group::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.banner_alert {
    background: var(--base-background-color);
    border: var(--notice-text-color) dotted;
    padding: 10px;
}

.discordlogin {
    background: var(--discord-brand-background-color);
    color: var(--discord-brand-color);
    text-decoration: none;
}

.discordlogin::before {
    display: inline-block;
    margin-right: 0.5em;
    font: normal normal normal 14px/1 FontAwesome; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/* Style tab links */
.tablink {
    border-radius: var(--control-border-radius);
    box-shadow: 0 2px 10px var(--control-border-color);
    border: var(--line) solid var(--control-border-color);
    background-color: var(--control-background-color);
    color: var(--link-text-color);
    float: left;
    padding: 8px;
    margin: var(--line) 0;
    width: 25%;
}

.tablink:hover {
    color: var(--link-emphasis-text-color);

    /* text color of selected and active item */
    background: var(--highlight-background-color);
    border: var(--line) solid var(--link-border-color);
}

.tabcontent {
    display: none;
    padding: 50px 20px;
    height: 100%;
}

.box table td {
    padding: 8px 12px;
}

table.events {
    width: 100%;
}

table.events td {
    padding: 8px 12px;
}

table.events td:first-child {
    padding-left: 0;
}

table.events td:last-child {
    padding-right: 0;
}

.winners {
    border-collapse: collapse;
}

.winners .event-name {
    padding-top: 24px;
}

.winners tr.player-deck td {
    border-bottom: var(--line) solid var(--divider-border-color);
    padding-bottom: 24px;
}

.score,
.player {
    white-space: nowrap;
}

a.emailPop {
    color: var(--verified-text-color);
    border: none;
}

.borderless {
    border: none;

    /* removes borders from img anchors */
}

.borderless:hover {
    border: var(--line) solid var(--main-background-color);

    /* colors border on img anchors so border matches background and is unseen */
}

a:link {
    color: var(--link-text-color);
}

a:visited {
    color: var(--link-text-color);
}

a:active {
    color: var(--link-emphasis-text-color);
}

a:hover {
    color: var(--link-emphasis-text-color);
    border: var(--line) solid var(--link-border-color);
    padding: 0;
    border-radius: var(--control-border-radius);
}

a:has(h1):link,
a:has(h2):link,
a:has(h3):link,
a:has(h4):link,
a:has(h5):link,
a:has(h6):link,
a:has(h1):visited,
a:has(h2):visited,
a:has(h3):visited,
a:has(h4):visited,
a:has(h5):visited,
a:has(h6):visited {
    color: var(--main-text-color);
    padding: inherit;
}

a.emailPop:hover {
    color: var(--verified-text-color);
    border: var(--line) solid var(--verified-text-color);
    padding: 0;
    border-radius: var(--control-border-radius);
}

.match_verified {
    color: var(--verified-text-color);
    border: none;
    padding: 0;
    font-weight: normal;
}

.match_unverified {
    color: var(--pending-text-color);
    border: none;
    padding: 0;
    font-weight: normal;
}

.match_failed {
    color: var(--error-text-color);
    border: none;
    padding: 0;
    font-weight: normal;
}

a.deckverified {
    color: var(--verified-text-color);
    border-bottom: var(--line) dotted var(--verified-text-color);
}

a.deckverified:hover {
    color: var(--verified-text-color);
    border: var(--line) solid var(--verified-text-color);
    padding: 0;
}

a.createlink {
    color: var(--pending-text-color);
    border-bottom: var(--line) dotted var(--pending-text-color);
}

a.createlink:hover {
    color: var(--pending-text-color);
    border: var(--line) solid var(--pending-text-color);
    padding: 0;
}

a.deckunverified {
    color: var(--error-text-color);
    border-bottom: var(--line) dotted var(--error-text-color);
}

a.deckunverified:hover {
    color: var(--error-text-color);
    border: var(--line) solid var(--error-text-color);
    padding: 0;
}

em {
    color: var(--emphasis-text-color);
}

del {
    text-decoration: line-through;
}

#header_bar {
    width: calc(
        100% - var(--spacing-10) - var(--spacing-10)
    ); /* 100% width minus left and right margins */

    max-width: 940px;
    height: 135px;
    margin-left: var(--spacing-10);
    margin-right: var(--spacing-10);
    margin-bottom: 5px;
    background-image: url("../images/header_background.jpg");
    background-size: cover;
    background-position: 40% center;
}

#header_logo {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}

#header_gatherling {
    float: right;
    margin-right: 312px;
    padding-top: 26px;
}

.box {
    border-radius: var(--grid-border-radius);
    box-shadow: 0 2px 5px var(--control-border-color);
    margin-top: 15px;
    background: var(--main-background-color);
    border: var(--line) solid var(--control-border-color);
    padding-bottom: 10px;
}

.box p,
.box ul,
.box .uppertitle,
.box table,
.box form,
.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6,
.box .series-logo img {
    padding: var(--box-padding);
}

.uppertitle,
h2.uppertitle {
    border-top-left-radius: var(--grid-border-radius);
    border-top-right-radius: var(--grid-border-radius);
    background: var(--highlight-background-color);
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid var(--title-border-color);
    margin-bottom: 10px;
}

.menubar {
    border-radius: var(--grid-border-radius);
    box-shadow: 0 2px 10px var(--control-border-color);
    border: var(--line) solid var(--control-border-color);
    background: var(--main-background-color);
    padding: var(--spacing-10);
    gap: var(--spacing-10);
}

.menubar:hover {
    border-color: var(--link-border-color);
}

.menubar ul {
    display: grid;
    gap: var(--spacing-10);
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
}

.menubar li {
    display: block;
    border: var(--line) solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    box-shadow: 0 2px 5px var(--control-border-color);
    margin: 0;
    text-align: center;
}

.menubar li a {
    border-bottom: none;
    display: block;
}

.menubar li a:hover {
    color: var(--link-emphasis-text-color);
    border: var(--line) solid var(--link-border-color);
}

.deck {
    width: 100%;
}

.deck span {
    display: block;
    overflow: hidden;
    float: left;
    margin-right: 5px;
    text-align: center;
}

.deck .deck_player {
    max-width: 95px;
}

.deck .deck_name {
    width: 150px;
    height: 1.5em;
    text-align: left;
}

.deck .deck_colors {
    width: 75px;
    padding: 2px;
    text-align: left;
}

.deck .deck_place {
    width: 15px;
    padding: 2px;
}

.recent_tourneyname {
    text-align: center;
    padding-top: 0.5em;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

/* Gatherling Entries */
#gatherling_main table {
    margin-left: auto;
    margin-right: auto;
}

#gatherling_main table td {
    padding: 3px;
}

#gatherling_main table.form th {
    vertical-align: middle;
    text-align: right;
}

#gatherling_main table.form td.buttons {
    text-align: center;
}

#gatherling_main .error {
    color: var(--error-text-color);
    font-weight: bolder;
}

#gatherling_full table {
    margin-left: inherit;
    table-layout: auto;
}

#gatherling_lefthalf table {
    width: 100%;
    margin-left: inherit;
}

#gatherling_righthalf table {
    width: 100%;
    margin-left: inherit;
}

#gatherling_footer {
    background-color: var(--main-background-color);
    color: var(--deemphasized-text-color);
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    clear: both;
    font-size: 14px;
}

#gatherling_main .eventname {
    border-bottom: var(--line) dotted black;
}

#gatherling_main table th.top {
    text-align: center;
}

#EventReport table td {
    border-width: 0;
    vertical-align: top;
}

/* Event List */

.event-grid {
    display: grid;
    gap: var(--card-grid-gap);
    margin-bottom: var(--spacing-20);
    margin-left: var(--spacing-10);
    margin-right: var(--spacing-10);
}

@media (width >= 40rem) {
    .event-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.event-card {
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    padding: var(--spacing-20);
    box-shadow: 0 var(--spacing-5) var(--spacing-5) calc(-1 * var(--line))
        var(--control-border-color);
}

.event-card a,
.event-card a:hover {
    border: none;
    padding: inherit;
}

.event-card a:hover {
    color: var(--link-emphasis-text-color);
}

.event-card h2,
.event-card h3,
.event-card h4,
.event-card h5,
.event-card h6,
.event-card p {
    padding-left: 0;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    padding-bottom: var(--spacing-20);
    border-bottom: var(--line) solid var(--divider-border-color);
}

@media (width >= 40rem) {
    .card-header {
        flex-direction: row;
        gap: var(--spacing-10);
        justify-content: space-between;
        align-items: center;
    }
}

/* Align text with icon */
.event-type,
.player-count,
.event-action {
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
}

a.player-count,
a.event-type {
    color: var(--deemphasized-text-color);
}

.round-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--top-background-color);
    padding: var(--spacing-10);
    border-radius: var(--control-border-radius);
    margin: var(--spacing-20) 0;
}

/* Pagination

This is kind of a mess.

We have the current latest CSS from zebra_pagination.css first.

Then we have our old pagination CSS from when we had the Pagination class just copy and pasted into the repo.
It has some customizations that we want that I haven't parsed out yet and sets the colors to our colors.

The finallly there's a little new bit of CSS that overrides some colors in the zebra_pagination.css that aren't set in the old CSS.

Enjoy.

*/

/* stylelint-disable */

/* zebra_pagination.css copy and pasted in from v2.4 of Zebra_Pagination */

.Zebra_Pagination {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.Zebra_Pagination ol {
    position: relative;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.Zebra_Pagination li {
    position: relative;
    float: left;
    right: 50%;
}

.Zebra_Pagination .pagination {
    display: inline-block;
}

.Zebra_Pagination li {
    display: inline;
}

.Zebra_Pagination a,
.Zebra_Pagination span {
    padding: 6px 12px;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: var(--line) solid #ddd;
    display: block;
    float: left;
    position: relative;
    margin-left: calc(-1 * var(--line));
}

.Zebra_Pagination li.active a {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.Zebra_Pagination li a:hover,
.Zebra_Pagination li span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.Zebra_Pagination li.disabled a {
    color: #dedede;
    background-color: transparent;
    border-color: #dedede;
    cursor: default;
}

.Zebra_Pagination li.disabled a:hover {
    color: #dedede;
    background-color: transparent;
    border-color: #dedede;
}

/* Our old customized version of Zebra Pagination CSS from when we copy and pasted it rather than having it as a dependency. */

/* ATTRIBUTES FOR THE CONTAINER (THIS HOW WE CENTER EVERYTHING)---------------------------------------------------------------------------------------------------------------------- */
.Zebra_Pagination {
    clear: both;
    width: 100%;
}

.Zebra_Pagination ul {
    position: relative;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.Zebra_Pagination li {
    position: relative;
    float: left;
    right: 50%;
    margin: 6px;
}

/* COMMON ATTRIBUTES FOR ALL THE LINKS---------------------------------------------------------------------------------------------------------------------- */
.Zebra_Pagination a {
    padding: 4px;
    border: var(--line) solid black;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    text-decoration: none;
    margin: 0 2px;
    display: block;
    float: left;
    border-radius: 6px;
    box-shadow: 0 2px 5px var(--control-border-color);
}

.Zebra_Pagination a:hover {
    border-color: var(--link-border-color);
    background-color: var(--hover-background-color);
    color: var(--link-emphasis-text-color);
    box-shadow: 0 2px 5px var(--link-border-color);
}

/* "NEXT PAGE" AND "PREVIOUS PAGE" LINKS---------------------------------------------------------------------------------------------------------------------- */
.Zebra_Pagination a.navigation {
    border: var(--line) solid var(--control-border-color);
    background-repeat: no-repeat;
}

.Zebra_Pagination a.navigation:hover {
    border-color: var(--link-border-color);
}

.Zebra_Pagination a.previous {
    background-image: url("../images/larrow.png");
    background-position: left center;
    padding-left: 45px;
}

.Zebra_Pagination a.next {
    background-image: url("../images/rarrow.png");
    background-position: right center;
    padding-right: 45px;
}

.Zebra_Pagination a.disabled {
    opacity: 0.2;
    box-shadow: var(--disabled-control-border-color) 0 0 0;
}

/* Arrows that can't be used and the elipsis should not change on hover. */
.Zebra_Pagination a.disabled:hover,
.Zebra_Pagination li span:hover {
    background-color: inherit;
    color: inherit;
    border: inherit;
}

/* CURRENT PAGE---------------------------------------------------------------------------------------------------------------------- */
.Zebra_Pagination a.current,
.Zebra_Pagination a.current:hover {
    background: var(--current-pagination-background-color);
    border-color: var(--current-pagination-border-color);
    color: var(--current-pagination-text-color);
}

/* THE "..." SEPARATOR---------------------------------------------------------------------------------------------------------------------- */
.Zebra_Pagination span {
    color: var(--main-text-color);
    margin-right: 2px;
    display: block;
    float: left;
    padding: 8px 4px;
}

/* A little extra CSS that overrides some colors in the zebra_pagination.css that aren't set in the old CSS. */

.Zebra_Pagination li.active a {
    background-color: var(--current-pagination-background-color);
    color: var(--current-pagination-text-color);
}

.Zebra_Pagination span {
    background-color: inherit;
    border: none;
}

/** stylelint-enable */
