<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">Host Control Panel</div>
        {{> controlPanel}}
        <form action="event.php" method="post" enctype="multipart/form-data">
            <table class="form" style="border-width: 0">
                {{#currentlyEditing}}
                    <tr>
                        <th>Currently Editing</th>
                        <td><i>{{event.name}}</i></td>
                        <td><input type="hidden" name="name" value="{{event.name}}"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <ol class="inline-list pipe">
                                {{#navLinks}}
                                    <li>{{> eventLink}}</li>
                                {{/navLinks}}
                            </ol>
                        </td>
                    </tr>
                {{/currentlyEditing}}
                {{^currentlyEditing}}
                    <tr>
                        <th>Event Name</th>
                        <td>
                            <input type="radio" name="naming" value="auto" checked>
                            Automatically name this event based on Series, Season, and Number.
                            <br>
                            <input type="radio" name="naming" value="custom">
                            Use a custom name:
                            <input class="inputbox" type="text" name="name" value="{{event.name}}" size="40">
                        </td>
                    </tr>
                {{/currentlyEditing}}
                <tr>
                    <th>Date & Time</th>
                    <td>
                        {{#yearDropMenu}}{{> dropMenu}}{{/yearDropMenu}}
                        {{#monthDropMenu}}{{> dropMenu}}{{/monthDropMenu}}
                        {{#dayDropMenu}}{{> dropMenu}}{{/dayDropMenu}}
                        {{#timeDropMenu}}{{> dropMenu}}{{/timeDropMenu}}
                    </td>
                </tr>
                <tr>
                    <th>Series</th>
                    <td>
                        {{#seriesDropMenu}}{{> dropMenu}}{{/seriesDropMenu}}
                    </td>
                </tr>
                <tr>
                    <th>Season</th>
                    <td>{{#seasonDropMenu}}{{> dropMenu}}{{/seasonDropMenu}}</td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td>{{#numberDropMenu}}{{> dropMenu}}{{/numberDropMenu}}</td>
                </tr>
                <tr>
                    <th>Format</th>
                    <td>{{#formatDropMenu}}{{> dropMenu}}{{/formatDropMenu}}</td>
                </tr>
                {{#kValueDropMenu}}{{> selectInput}}{{/kValueDropMenu}}
                <tr>
                    <th>Host/Cohost</th>
                    <td>
                        {{#hostField}}{{> stringField}}{{/hostField}}&nbsp;/&nbsp;{{#cohostField}}{{> stringField}}{{/cohostField}}
                    </td>
                </tr>
                {{#eventThreadUrlField}}{{> textInput}}{{/eventThreadUrlField}}
                {{#metagameUrlField}}{{> textInput}}{{/metagameUrlField}}
                {{#reportUrlField}}{{> textInput}}{{/reportUrlField}}
                <tr>
                    <th>Main Event Structure</th>
                    <td>
                        {{#mainRoundsNumDropMenu}}{{> dropMenu}}{{/mainRoundsNumDropMenu}}
                        rounds of
                        {{#mainRoundsStructDropMenu}}{{> dropMenu}}{{/mainRoundsStructDropMenu}}
                    </td>
                </tr>
                <tr>
                    <th>Finals Structure</th>
                    <td>
                        {{#finalRoundsNumDropMenu}}{{> dropMenu}}{{/finalRoundsNumDropMenu}}
                        rounds of
                        {{#finalRoundsStructDropMenu}}{{> dropMenu}}{{/finalRoundsStructDropMenu}}
                    </td>
                </tr>
                {{#preregistrationAllowedCheckbox}}{{> checkboxInput}}{{/preregistrationAllowedCheckbox}}
                {{#lateEntryLimitField}}{{> textInput}}{{/lateEntryLimitField}}
                {{#playerReportedResultsCheckbox}}{{> checkboxInput}}{{/playerReportedResultsCheckbox}}
                {{#registrationCapField}}{{> textInput}}{{/registrationCapField}}
                {{#deckPrivacyCheckbox}}{{> checkboxInput}}{{/deckPrivacyCheckbox}}
                {{#finalsListPrivacyCheckbox}}{{> checkboxInput}}{{/finalsListPrivacyCheckbox}}
                {{#playerReportedDrawsCheckbox}}{{> checkboxInput}}{{/playerReportedDrawsCheckbox}}
                {{#privateEventCheckbox}}{{> checkboxInput}}{{/privateEventCheckbox}}
                <tr>
                    <th><label for="client">Game Client</label></th>
                    <td>{{#clientDropMenu}}{{> dropMenu}}{{/clientDropMenu}}</td>
                </tr>
                {{^currentlyEditing}}
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="buttons">
                            <input class="inputbutton" type="submit" name="mode" value="Create New Event">
                            <input type="hidden" name="insert" value="1">
                        </td>
                    </tr>
                {{/currentlyEditing}}
                {{#currentlyEditing}}
                    <tr>
                        <th>Current Round</th>
                        <td>
                            {{#currentRoundDropMenu}}{{> dropMenu}}{{/currentRoundDropMenu}}
                        </td>
                    </tr>
                    {{#trophyField}}{{> trophyField}}{{/trophyField}}
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="buttons">
                            <input class="inputbutton" type="submit" name="mode" value="Update Event Info">
                            {{#showCreateNextEvent}}<input class="inputbutton" type="submit" name="mode" value="Create Next Event">{{/showCreateNextEvent}}
                            {{#showCreateNextSeason}}<input class="inputbutton" type="submit" name="mode" value="Create Next Season">{{/showCreateNextSeason}}
                            <input type="hidden" name="update" value="1" />
                        </td>
                    </tr>
                {{/currentlyEditing}}
            </table>
        </form>
        <div class="clear"></div>
    </div>
</div>
