<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">Admin Control Panel</div>
        <center>
            <table><tr><td colspan="2" align="center">
                <a href="admincp.php?view=change_password">Change Player Password</a>
                | <a href="admincp.php?view=verify_player">Manually Verify Player</a>
                | <a href="admincp.php?view=create_series">Create New Series</a>
                | <a href="admincp.php?view=calc_ratings">Maintenance Tasks</a>
                | <a href="admincp.php?view=add_cardset">Add New Cardset</a>
            </td></tr></table>

            {{#result}}
                <div class="error">{{result}}</div>
            {{/result}}

            {{{viewSafe}}}

        </center>
        <div class="clear"></div>
    </div>
</div>
