<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">Admin Control Panel</div>
        <center>

            Welcome to the Database Viewer!<br />

            <table>
                <tr>
                    <td colspan="2" align="center">
                        <a href="cardscp.php?view=list_sets">List Card Sets</a>
                        | <a href="admincp.php?view">Back to AdminCP</a>
                    </td>
                </tr>
            </table>

            {{{viewSafe}}}

        </center>
        <div class="clear"></div>
    </div>
</div>
