<p>Welcome to the Database Viewer!</p>

<table>
    <tr>
        <td colspan="2" align="center">
            <a href="cardscp.php?view=list_sets">List Card Sets</a>
            | <a href="admincp.php?view">Back to AdminCP</a>
        </td>
    </tr>
</table>

{{{viewSafe}}}
