<script src="/styles/js/sorttable.js"></script>
{{#searchForm}}
    {{> searchForm}}
{{/searchForm}}
{{#errors}}
        <p>{{.}}</p>
{{/errors}}
{{#mostPlayedDecks}}
    {{> mostPlayedDecks}}
{{/mostPlayedDecks}}
{{#displayDecks}}
    {{> displayDecks}}
{{/displayDecks}}
