<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">{{title}}</div>
        {{{viewSafe}}}
    </div> <!-- gatherling_main box -->
</div> <!-- grid 10 suf 1 pre 1 -->
<script type="text/javascript" src="deck.js"></script>
