<script src="/styles/js/sorttable.js"></script>
<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle group">Deck Search</div>
        {{#searchForm}}
            {{> searchForm}}
        {{/searchForm}}
        {{#errors}}
            {{> errors}}
        {{/errors}}
        {{#mostPlayedDecks}}
            {{> mostPlayedDecks}}
        {{/mostPlayedDecks}}
        {{#displayDecks}}
            {{> displayDecks}}
        {{/displayDecks}}
    </div>
</div>
