<p class="error">{{message}}</p>
{{#canRetry}}
    <p>Please go back and try again.</p>
{{/canRetry}}
<p>If you are stuck please visit the <a href="https://discord.gg/2VJ8Fa6">Discord</a> and quote error code <b>{{requestId}}</b></p>
