{{#hasPlayerSeries}}
    <div class="r">
        <form action="event.php" method="get">
            <input class="inputbutton btn-primary" type="submit" name="mode" value="Create A New Event">
        </form>
    </div>
{{/hasPlayerSeries}}
{{#hostEvents}}
    {{> hostEvents}}
{{/hostEvents}}
<h2>Filter Events</h2>
<form action="event.php" method="get">
    <table class="form">
        <tr>
            <th>Format</th>
            <td>
                {{#formatDropMenu}}
                    {{> dropMenu}}
                {{/formatDropMenu}}
            </td>
        </tr>
        <tr>
            <th>Series</th>
            <td>
                {{#seriesDropMenu}}
                    {{> dropMenu}}
                {{/seriesDropMenu}}
            </td>
        </tr>
        <tr>
            <th>Season</th>
            <td>
                {{#seasonDropMenu}}
                    {{> dropMenu}}
                {{/seasonDropMenu}}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <input class="inputbutton" type="submit" name="mode" value="Filter Events">
            </td>
        </tr>
    </table>
</form>
<h2>Upcoming Events</h2>
<table>
    <tr>
        <td><b>Event</b></td>
        <td class="c"><b>Players</b></td>
    </tr>
    {{#upcomingEvents}}
        <tr>
            <td><a href="{{link}}">{{name}}</a></td>
            <td class="c">{{players}}</td>
        </tr>
    {{/upcomingEvents}}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>

<h2>Past Events</h2>
<table>
    <tr>
        <td><b>Event</b></td>
        <td class="c"><b>Players</b></td>
    </tr>
    {{#pastEvents}}
        <tr>
        <!-- BAKERT scratch host, cohost, isOngoging, kvalueDisplay, format, spllit itnno two buckets -->
            <td><a href="{{link}}">{{name}}</a></td>
            <td class="c">{{players}}</td>
        </tr>
    {{/pastEvents}}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>

{{#hasMore}}
    <p><i>This list only shows the 100 most recent results.
    Please use the filters at the top of this page to find older
    results.</i></p>
{{/hasMore}}
