<center>
    {{#organizerSelect}}{{> organizerSelect}}{{/organizerSelect}}
    {{^organizerSelect}}<center>Managing {{seriesName}}</center>{{/organizerSelect}}
    {{{actionResultSafe}}}
    {{#formatControlPanelMenu}}{{> formatControlPanelMenu}}{{/formatControlPanelMenu}}
    {{{viewSafe}}}
</center>
