BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//pauperkrew/gatherling//EN
X-WR-CALNAME;VALUE=TEXT:Gatherling Tournament Schedule
X-WR-CALDESC;VALUE=TEXT:Magic Player Run Events on Magic: The Gathering Online
X-WR-RELCALID:480fC555:F784:4C19:9D38:A65F931880AB
X-WR-TIMEZONE:US/Eastern
BEGIN:VTIMEZONE
TZID:US/Eastern
X-LIC-LOCATION:US/Eastern
BEGIN:STANDARD
TZOFFSETFROM:-0400
TZOFFSETTO:-0500
TZNAME:EST
DTSTART:19700308T020000
END:STANDARD
BEGIN:DAYLIGHT
TZOFFSETFROM:-0500
TZOFFSETTO:-0400
TZNAME:EDT
DTSTART:19701101T020000
END:DAYLIGHT
END:VTIMEZONE
{{#events}}
BEGIN:VEVENT
DTSTART:{{start}}
DTEND:{{end}}
SUMMARY:{{name}}
{{#url}}URL:{{url}}{{/url}}
END:VEVENT
{{/events}}
END:VCALENDAR
