<div class="grid_10 prefix_1 suffix_1">
    <div id="gatherling_main" class="box">
        <h1 class="uppertitle">Insert Card Set</h1>
        {{#messages}}
            <p>{{.}}</p>
        {{/messages}}
    </div>
</div>
