<div class="grid_10 prefix_1 suffix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">Insert Card Set</div>
        {{#messages}}
            <p>{{.}}</p>
        {{/messages}}
    </div>
</div>
