<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <h1 class="uppertitle"> Format Control Panel </h1>
        <center>
            <div class="error">
                <center>
                    {{errorMsg}}
                    <br>
                </center>
            </div>
            <a href="player.php">Back to the Player Control Panel</a>
        </center>
    </div>
</div>
