<div class="grid_10 suffix_1 prefix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">Player Control Panel</div>
        <center style="color: red; font-weight: bold;">{{result}}</center>
        {{{viewSafe}}}
    </div> <!-- gatherling_main box -->
</div> <!-- grid 10 suff 1 pre 1 -->
