<div class="grid_10 suffix_1 prefix_1">
<div id="gatherling_main" class="box">
<h1 class="uppertitle"> Player Control Panel </h1>


    {{{viewSafe}}}


</div> <!-- gatherling_main box -->
</div> <!-- grid 10 suff 1 pre 1 -->
