{{{orientationSafe}}}

{{#errorMsg}}
    <div class="error">{{errorMsg}}</div>
{{/errorMsg}}

{{#seriesControlPanelMenu}}{{> seriesControlPanelMenu}}{{/seriesControlPanelMenu}}

{{{viewSafe}}}

<div class="clear"></div>
