<div class="grid_10 prefix_1 suffix_1">
    <div id="gatherling_main" class="box">
        <div class="uppertitle">Season Report</div>
            {{#seasonSelect}}{{> seasonSelect}}{{/seasonSelect}}
            {{#seasonStandings}}{{> seasonStandings}}{{/seasonStandings}}
    </div>
</div>
