<p>Decks marked with a <font color="#FF0000">*</font> are not legal under current format.</p>

<div>
    <table>
        <tr>
            <td colspan="3"><b>{{upPlayer}}'S DECKS</b></td>
        </tr>
        {{#decks}}
        <tr>
            <td>{{#medalSrc}}<img alt="Medal" src="{{medalSrc}}" style="border-width: 0">{{/medalSrc}}</td>
            <td>{{recordString}}</td>
            <td>{{#deckLink}}{{> deckLink}}{{/deckLink}}{{^isValid}}<font color="#FF0000">*</font>{{/isValid}}</td>
            <td align="right"><a href="{{eventLink}}">{{eventName}}</a></td>
        </tr>
        {{/decks}}
    </table>
</div>
