You are not permitted to make that change.  Reasons why you cannot make changes to a deck are: <br />
<ul>
    <li>You are not the player who played/created the deck for this event.</li>
    <li>The event has already started and become active.</li>
    <li>The event has completed and become finalized.</li>
</ul>
Please contact the event host to modify this deck. If you <b>are</b> the event host
or feel that you should have privilege to modify this deck, you
should contact the admin via <a href="https://discord.gg/2VJ8Fa6">the Discord server</a>.<br><br>
