<span class="cardHoverImageWrapper">
    <a href="{{gathererLink}}" class="linkedCardName" target="_blank">
        {{cardName}}
        <span class="linkCardHoverImage">
            <p class="crop" style="background-image: url({{imageSrc}})">
                <img alt="{{cardName}}" src="{{imageSrc}}">
            </p>
        </span>
    </a>
</span>

