<form action="admincp.php" method="post">
    <input type="hidden" name="view" value="change_password" />
    <h3><center>Change User Password</center></h3>
    <table class="form c">
        {{#usernameTextInput}}{{> textInput}}{{/usernameTextInput}}
        {{#newPasswordTextInput}}{{> textInput}}{{/newPasswordTextInput}}
        {{#submitButton}}{{> submit}}{{/submitButton}}
    </table>
</form>
