<label class="ds_checkbox" for="color[g]"><input type="checkbox" name="color[g]" value="g" {{#gChecked}}checked{{/gChecked}}/><img alt="" src="styles/images/manag.png" class="ds_mana_image"/></label>
<label class="ds_checkbox" for="color[u]"><input type="checkbox" name="color[u]" value="u" {{#uChecked}}checked{{/uChecked}}/><img alt="" src="styles/images/manau.png" class="ds_mana_image"/></label>
<label class="ds_checkbox" for="color[w]"><input type="checkbox" name="color[w]" value="w" {{#wChecked}}checked{{/wChecked}}/><img alt="" src="styles/images/manaw.png" class="ds_mana_image"/></label>
<label class="ds_checkbox" for="color[b]"><input type="checkbox" name="color[b]" value="b" {{#bChecked}}checked{{/bChecked}}/><img alt="" src="styles/images/manab.png" class="ds_mana_image"/></label>
<label class="ds_checkbox" for="color[r]"><input type="checkbox" name="color[r]" value="r" {{#rChecked}}checked{{/rChecked}}/><img alt="" src="styles/images/manar.png" class="ds_mana_image"/></label>
