<table style="width: 100%" cellpadding="1">
    <tr>
        <td><b>COMMENTS</b></td>
    </tr>
    <tr>
        <td>
            {{#notesSafe}}
                {{{notesSafe}}}
            {{/notesSafe}}
            {{^notesSafe}}
                <i>No comments have been recorded for this deck.</i>
            {{/notesSafe}}
        </td>
    </tr>
</table>
