<table style="width: 100%" cellpadding="1">
    <tr>
        <td><b>COMMENTS</b></td>
    </tr>
    <tr>
        <td>
            {{#notes}}
                {{notes}}
            {{/notes}}
            {{^notes}}
                <i>No comments have been recorded for this deck.</i>
            {{/notes}}
        </td>
    </tr>
</table>
