<table class="c">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="c">
            <ol class="inline-list pipe">
                {{#controlPanelLinks}}
                    <li><a href="{{link}}">{{text}}</a></li>
                {{/controlPanelLinks}}
            </ol>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
