<span class="error"><center>You do not have permission to view this deck. Decks are anonymous for privacy until event is finalized.</center></span>
<br /><br />
People who can see decks while events are active:
<ul>
    <li>Gatherling Admins</li>
    <li>The Series Organizer</li>
    <li>The Event Host</li>
    <li>The Player Who Created The Deck</li>
</ul>
