{{#showTrophy}}
    <center>
        {{#trophy}}
            {{> trophy}}
        {{/trophy}}
        {{^trophy}}
            No trophy uploaded yet!
        {{/trophy}}
    </center>
    <br>
    <br>
{{/showTrophy}}
