<div class="event-card">
    <div class="card-header">
        <div class="title-section">
            <a href="{{link}}"><h3>{{name}}</h3></a>
            <div>
                <a class="event-type" href="{{settingsLink}}">
                    <i class="fas fa-trophy"></i>
                    {{structureSummary}}
                </a>
            </div>
        </div>
        <div>
            <a class="player-count" href="{{registrationLink}}">
                <i class="fas fa-users"></i>
                <span>{{players}}</span>
            </a>
        </div>
    </div>

    <div class="round-status">
        {{#active}}
            <a href="{{matchesLink}}">Round {{currentRound}}</a>
            <a href="{{standingsLink}}" class="event-action">
                View Standings
                <i class="fas fa-arrow-right"></i>
            </a>
        {{/active}}
        {{^active}}
            <a href="{{settingsLink}}" class="event-action">
                {{#startTime}}{{> time}}{{/startTime}}
            </a>
            <a href="{{registrationLink}}" class="event-action">
                Start Event
                <i class="fas fa-arrow-right"></i>
            </a>
        {{/active}}
    </div>
</div>
