            <div class="prefix_1 suffix_1">
                <div id="gatherling_footer" class="box">
                    {{versionTagline}}
                    {{gitHash}}
                </div><!-- gatherling_footer -->
            </div><!-- prefix_1 suffix_1 -->
            <div class="clear"></div>
        </div> <!-- container -->
        <script src="action.js" defer></script>
    </body>
</html>
