<select class="inputbox" name="format" style="width: 250px">
    <option value="Unclassified">- {{formatType}} Format Name -</option>
    {{#formatNames}}
        <option value="{{.}}">{{.}}</option>
    {{/formatNames}}
</select>
