<h4>Rename Format</h4>
<form action="formatcp.php" method="post">
    <input type="hidden" name="view" value="no_view" />
    <table class="form c">
        <tr>
            <td>
                {{#formatsDropMenu}}{{> formatsDropMenu}}{{/formatsDropMenu}}
            </td>
            <td colspan="2">
                Rename Format As...
                <input type="text" name="newformat" style="width: 175px"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <input class="inputbutton" type="submit" value="Rename Format" name ="action" />
            </td>
        </tr>
    </table>
</form>
