<form action="formatcp.php" method="post">
    <input type="hidden" name="view" value="no_view" />
    <input type="hidden" name="oldformat" value="{{oldFormatName}}" />
    <table class="form c">
        <tr>
            <td>
                Save Format As...
                <input type="text" class="inputbox" name="newformat" style="width: 175px"/>
            </td>
        </tr>
        <tr>
            <td class="buttons">
                <input class="inputbutton" type="submit" value="Save" name ="action" />
            </td>
        </tr>
    </table>
</form>
