<h2>Active Events</h2>
<div class="event-grid">
    {{#events}}
        <div class="event-card">
            <div class="card-header">
                <div class="title-section">
                    <a href="{{link}}"><h3>{{name}}</h3></a>
                    <div>
                        <a class="event-type" href="{{settingsLink}}">
                            {{#structureIcon}}{{> icon}}{{/structureIcon}}
                            {{structureSummary}}
                        </a>
                    </div>
                </div>
                <div>
                    <a class="player-count" href="{{registrationLink}}">
                        {{#playersIcon}}{{> icon}}{{/playersIcon}}
                        <span>{{players}}</span>
                    </a>
                </div>
            </div>

            <div class="round-status">
                <a href="{{matchesLink}}">Round {{currentRound}}</a>
                <a href="{{standingsLink}}" class="view-standings">
                View Standings
                {{#standingsIcon}}{{> icon}}{{/standingsIcon}}
                </a>
            </div>

        </div>
    {{/events}}
</div>
