{{#threadLink}}
    <a href="{{threadLink}}">{{eventName}}</a>
{{/threadLink}}
{{^threadLink}}
    {{eventName}}
{{/threadLink}}
<br>
{{eventDate}}
<br>
{{eventFormat}} &middot; {{playerCountText}}
<br>
{{deckCount}} Decks {{#isActive}}&middot; {{percentReported}}% Reported{{/isActive}}
<br>
{{#subevents}}
    {{.}}
    <br>
{{/subevents}}
Hosted by {{#hostLink}}{{> playerLink}}{{/hostLink}}
<br>
{{#eventReportLink}}
    <a href="{{eventReportLink}}">Event Report</a><br>
{{/eventReportLink}}
<a href="{{seasonLeaderboardLink}}">Season Leaderboard</a>
