<h2><center>Manual Player Verification</center></h2>
<form action="admincp.php" method="post">
    <input type="hidden" name="view" value="verify_player">
    <table class="form c">
        {{#usernameInput}}{{> textInput}}{{/usernameInput}}
        {{#submitButton}}{{> submit}}{{/submitButton}}
    </table>
</form>
