{{#isVerified}}
    <p>You are already verified!</p>
    <p><a href="player.php">Go back to the Player CP</a></p>
{{/isVerified}}
{{^isVerified}}
    <h2>Verifying your MTGO account</h2>
    <p>
        Verify your MTGO account in one simple step:<br>
        1. Contact an admin via <a href="https://discord.gg/2VJ8Fa6">the Discord server</a>.<br>
    </p>
{{/isVerified}}
