{{#isVerified}}
    <center>You are already verified!</center>
    <a href="player.php">Go back to the Player CP</a>
{{/isVerified}}
{{^isVerified}}
    <center><h3>Verifying your MTGO account</h3>
    Verify your MTGO account in one simple step:<br />
    1. Contact an admin via <a href="https://discord.gg/2VJ8Fa6">the Discord server</a>.<br />
{{/isVerified}}
