<table width="200">
    <tr>
        <td colspan="5" class="c"><b>Metagame Stats</b></td>
    </tr>
    {{#archetypes}}
        <tr>
            <td colspan="4" align="left">{{name}}</td>
            <td align="right">{{pcg}}%</td>
        </tr>
    {{/archetypes}}
    <tr>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td class="c"><img src="styles/images/manaw.png" alt="White mana symbol" /></td>
        <td class="c"><img src="styles/images/manag.png" alt="Green mana symbol" /></td>
        <td class="c"><img src="styles/images/manau.png" alt="Blue mana symbol" /></td>
        <td class="c"><img src="styles/images/manar.png" alt="Red mana symbol" /></td>
        <td class="c"><img src="styles/images/manab.png" alt="Black mana symbol" /></td>
    </tr>
    <tr>
        {{#colors}}
            <td align="center">{{pcg}}%</td>
        {{/colors}}
    </tr>
</table>
