<h4>New Format</h4>
<form action="formatcp.php" method="post">
    <input type="hidden" name="view" value="no_view" />
    <input type="hidden" name="series" value="{{seriesName}}" />
    <table class="form c">
        <tr>
            <td>
                New Format Name: <input type="text" name="newformatname" style="width: 175px" />
            </td>
        </tr>
        <tr>
            <td class="buttons">
                <input class="inputbutton" type="submit" value="Create New Format" name ="action" />
            </td>
        </tr>
    </table>
</form>
