{{placing}} by
{{#showPlayer}}
    in <a href="{{eventLink}}"><span class="eventname" title="{{day}}">{{eventName}}</span></a>
{{/showPlayer}}
{{^showPlayer}}
    Never played (?) according to records.
{{/showPlayer}}
<i>({{recordString}})</i>
