<div class="grid_10 prefix_1 suffix_1">
    <div class="box" id="gatherling_simpleform">
        <div class="uppertitle">Player Lookup</div>
        <form action="profile.php" mode="post">
            <input class="inputbox" type="text" name="player" value="{{playerName}}" />
            <input class="inputbutton" type="submit" name="mode" value="Lookup Profile" />
        </form>
        <div class="clear"></div>
    </div>
</div>
