<h3><center> Season Points Management </center> </h3>
<p style="width:75%; text-align: left;">Here you can edit the way that season points are calculated for each player.  Choose the season that you want your point rules to be active for, and then put in the number of season points for each type of event.  You can adjust the points a player gets for each event individually as well, to take away points for not posting a deck for example or giving extra points for a tiebreaker-miss of top eight.</p>
<p style="width:75%; text-align: left;">Points are cumulative, so if someone gets the first place, they will get points for first place, participation, each round they played (in the main event, not the finals), for each match they won, lost, and got a bye, as well as the points for posting a decklist if they do post.  However, The first place to top 8 points are NOT added together, you only get points for where you end up (calculated by the medals).  An event winner doesn't get points for the second place, top 4 or top 8.</p>
<p style="width:75%; text-align: left;"><strong>Points are NOT counted for events with the 'Custom' number!</strong></p>
<center>
    <form action="seriescp.php">
        <input type="hidden" name="series" value="{{seriesName}}" />
        {{#seasonDropMenu}}{{> dropMenu}}{{/seasonDropMenu}}
        <input type="hidden" name="view" value="points_management" />
        <input class="inputbutton" type="submit" value="Choose Season" />
    </form>
</center>
<form action="seriescp.php" method="post">
    <input type="hidden" name="series" value="{{seriesName}}" />
    <input type="hidden" name="season" value="{{season}}" />
    <table class="form c">
        <tr>
            <th class="top" colspan="2">Season {{season}} Settings</th>
        </tr>
        {{#rules}}
            {{> pointsRule}}
        {{/rules}}
        <tr>
            <td colspan="2" class="buttons">
                <input type="hidden" name="view" value="points_management" />
                <input class="inputbutton" type="submit" name="action" value="Update Points Rules" />
            </td>
        </tr>
    </table>
</form>
