<div class="grid_5 alpha">
    <div id="gatherling_lefthalf">
        {{#infoTable}}
            {{> infoTable}}
        {{/infoTable}}
        {{#bestDecksTable}}
            {{> bestDecksTable}}
        {{/bestDecksTable}}
    </div>
</div>
<div class="grid_5 omega">
    <div id="gatherling_righthalf">
        {{#medalTable}}
            {{> medalTable}}
        {{/medalTable}}
        {{#trophyTable}}
            {{> trophyTable}}
        {{/trophyTable}}
    </div>
</div>
<div class="clear"></div>
