<table width="100%">
    <tr>
        <td colspan="3"><b>RECENT DECKS</b></td>
        <td colspan="1" align="right">
            <a href="player.php?mode=alldecks">(see all)</a>
        </td>
    </tr>
    {{^decks}}
        <tr><td colspan="4">No Decks Found!</td></tr>
    {{/decks}}
    {{#decks}}
        <tr>
            <td style="white-space: nowrap;">
                <img alt="Medal" src="{{medalSrc}}" style="border-width: 0">
            </td>
            <td style="white-space: nowrap;">
                {{#deckLink}}{{> deckLink}}{{/deckLink}}
            </td>
            <td style="white-space: nowrap;">
                <a href="{{eventLink}}">{{eventName}}</a>
            </td>
            <td width="99%" align="right">{{recordString}}</td>
        </tr>
    {{/decks}}
</table>
