<br />
<div class="ds_inputbox group">
    <form  method="post" action="{{searchLink}}">
        <div class="ds_left group">
            <label class="ds_label" for="player">
                Player Name: <input class="ds_input" type="text" name="player"  value="{{playerName}}"/>
            </label>
            <label class="ds_label" for="cardname">
                Card Name: <input class="ds_input" type="text" name="cardname" value="{{cardName}}"/>
            </label>
            <div class="ds_select group">
                {{#formatDropMenuDS}}{{> dropMenu}}{{/formatDropMenuDS}}
                {{#archetypeDropMenu}}{{> dropMenu}}{{/archetypeDropMenu}}
                {{#seriesDropMenuDS}}{{> dropMenu}}{{/seriesDropMenuDS}}
                {{#medalsDropMenu}}{{> dropMenu}}{{/medalsDropMenu}}
            </div>
            <div class="ds_color">
                {{#colorCheckboxMenu}}{{> colorCheckboxMenu}}{{/colorCheckboxMenu}}
            </div>
        </div>
        <div class="ds_right group">
            <input class="ds_submit"type="submit" name="submitbutton" value="Submit">
            <br />
            <center>
                <img alt="" src="styles/images/search.png" class="ds_image" height="75" width="75">
            </center>
            <div class="ds_results group">
                {{#numSearchResults}}{{numSearchResults}} decks found{{/numSearchResults}}
            </div>
        </div>
    </form>
</div>
