<table>
    <tr>
        <td colspan="2" align="center">
            <a href="seriescp.php?series={{seriesName}}&view=settings">Series Settings</a>
            | <a href="seriescp.php?series={{seriesName}}&view=recent_events">Recent Events</a>
            | <a href="seriescp.php?series={{seriesName}}&view=points_management">Points Management</a>
            | <a href="seriescp.php?series={{seriesName}}&view=organizers">Series Organizers</a>
            | <a href="seriescp.php?series={{seriesName}}&view=trophies">Trophies</a>
            | <a href="seriescp.php?series={{seriesName}}&view=season_standings">Season Standings</a>
            | <a href="seriescp.php?series={{seriesName}}&view=bannedplayers">Ban Players</a>
        </td>
    </tr>
</table>
