<h2>Report League Game Results</h2>
Enter results
<p style="font-weight: bold;">Opponent</p>
<form action="report.php" method="post">
    <input name="mode" type="hidden" value="verify_league_result">
    <input name="match_id" type="hidden" value="0">
    <input name="event" type="hidden" value="{{eventName}}">
    <input name="player" type="hidden" value="{{playerName}}">
    <table class="form">
        <tr>
            <th>
                {{#leagueOpponentDropMenu}}{{> dropMenu}}{{/leagueOpponentDropMenu}}
                <br>
            </th>
            <td></td>
        </tr>
        <tr>
            <th>
                <input type="radio" name="report" value="W20" id="w20"><label for="w20"> I won the match 2-0</label><br>
            </th>
            <td></td>
        </tr>
        <tr>
            <th>
                <input type="radio" name="report" value="W21" id="w21"><label for="w21"> I won the match 2-1</label><br>
            </th>
            <td></td>
        </tr>
        <!--
            // Allowing the loser to report leads to race conditions :/
            // <tr><th><input type="radio" name="report" value="L20"> I lost the match 0-2<br></th>
            // <td></td> </tr>
            // <tr><th><input type="radio" name="report" value="L21"> I lost the match 1-2</th>
            // <td></td></tr>
        -->
        <tr>
            <td colspan="2" class="buttons">
                <input class="inputbutton btn-primary" name="submit" type="submit" value="Submit Match Report">
            </td>
        </tr>
    </table>
</form>
