<tr>
    <th>
        <label for="{{id}}">{{label}}</label>
    </th>
    <td>
        <input class="inputbox" type="text" name="{{name}}" id="{{id}}" value="{{value}}" {{#size}}size="{{size}}"{{/size}}>
        {{reminderText}}
    </td>
</tr>

